* {
  font-family: sans-serif;
}

body {
  background: linear-gradient(to right, rgb(255, 255, 255), rgb(228, 228, 228));
}

.container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.card {
  cursor: pointer;
  width: 340px;
  height: 480px;
  margin: 8% auto 8% auto;
}

.front,
.back {
  height: 480px;
  width: 340px;
  overflow: hidden;
  backface-visibility: hidden;
  transition: transform .5s linear;
  position: absolute;
  border-radius: 8px;
  box-shadow: 2px 3px 5px rgba(0, 0, 0, 0.3);
}

.front {
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, .2), rgba(0, 0, 0, .9)), url(https://images.unsplash.com/photo-1474366907465-51a215500f53?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1504&q=80);
  background-size: cover;
  color: white;
  display: block;
  text-align: center;
  transform: perspective(600px) rotateY(0);
  box-shadow: 2px 3px 5px rgba(0, 0, 0, 0.3);
}

.back {
  background: black;
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, .2), rgba(0, 0, 0, .9)), url(https://images.unsplash.com/photo-1543170866-bbb899e2735a?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1500&q=80);
  background-size: cover;
  color: white;
  transform: perspective(600px) rotateY(180deg);
}

.back h1 {
  text-align: center;
}

.back h5 {
  margin-top: -15px;
  color: greenyellow;
  text-align: center;
  font-size: 13.5px;
}

.back ul {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-content: center;
}

.back li {
  list-style: none;
  font-size: 38px;
  position: relative;
  left: -32%;
  top: -20%;
  margin: 8px;
  padding: 6px;
  color: white;
  transform: translateY(0);
  transition: all .2s ease-out;
}

.social-links {}

.back li:hover {
  /* background: black; */
  transform: translateY(-14%);
  border-radius: 8px;
}

.contact {
  color: white;
  text-align: center;
}

.contact:hover {
  color: greenyellow;
}

.card:hover>.front {
  transform: perspective(600px) rotateY(-180deg)
}

.card:hover>.back {
  transform: perspective(600px) rotateY(0deg)
}